body {
  background: #0b0b0b;
  color: #00ffcc;
  font-family: Arial;
  text-align: center;
}

#chart {
  width: 100%;
  height: 320px;
  margin: auto;
}

#signal {
  margin-top: 12px;
  font-size: 18px;
}
